$main-border: 1px solid white
$completed-color: #ffffff77

*
    padding: 0
    margin: 0
    border: none
    shape: none

.task-row, .task-bar
    position: relative
    padding: 8px 16px
    left: 0
    opacity: 1
    display: flex
    flex-direction: row
    justify-content: space-between
    border-left: $main-border
    border-right: $main-border
    border-radius: 6px
    color: white
    transition: all 0.5s

.task-row
    &:hover
        border-color: $completed-color
    &--start
        left: -50%
        opacity: 0
    &--finish
        left: 50%
        opacity: 0
    

.task-bar
    width: 100%
    gap: 8px
    border-color: $completed-color

    &:hover
        border-color: white

    &-line
        position: absolute
        top: 6px
        left: (386px - 86 / 2) / 2
        width: 86px
        height: 24px
        border-bottom: $main-border
        border-color: transparent
        border-radius: 6px
        transition: all 0.5s
        z-index: 5

    &-line--active
        border-bottom: $main-border
        width: 386px
        left: 16px

.task-row__text, .task-bar__text-inp
    display: block
    font-size: 16px
    font-weight: 300
    font-family: 'Roboto', sans-serif
    font-style: normal
    width: 100%
    word-wrap: break-word
    z-index: 10

.task-row--checked
    color: $completed-color
    border-color: $completed-color
    text-decoration: line-through

    &:hover
        border-color: white

.task-bar__text-inp
    max-width: none
    background: transparent
    color: white
    padding: 0 10px

    &:focus
        outline: none

    &::placeholder
        color: $completed-color
